body {
  
}
.profile {
    text-align: right !important;
}
input:focus {
    outline-color : #3e5cb2;

}
.clip-path-mangled {
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    z-index: -1; 
  }
  .logo {
    align-items: center;
  }
  .span2 {
    content: '';
    position: absolute;
    top: -20px;
    width: 60px;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3e5cb2;    
    transform: skew(-10deg); 
    z-index: -1; 
  }
  .sign {
    border-bottom: solid black 1px;
  }
  .img {
    position: relative;
  }
  .img-time {
    position: absolute;
    content: "";
    left: 0;
    /* colo */
    /* z-index: 1; */
  }


   .carousel-container {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100%; 
    gap: 16px;
    width: 200%;
    animation: slide 20s linear infinite;
}

.carousel-card {
    min-width: 280px;
    height: 300px; 
    border-radius: 8px;
    overflow: hidden; 
    margin: 10px;
}

.carousel-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.carousel-card-time {
    position: absolute;
    bottom: 10px; /* Position the time closer to the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the time horizontally */
    background: rgba(0, 0, 0, 0.7); /* Optional: Add a semi-transparent background for readability */
    color: white; /* Text color */
    padding: 5px; /* Add padding around the text */
    border-radius: 5px; /* Optional: Add rounded corners */
    text-align: center; /* Center the text */
    font-size: 0.9em; /* Optional: Adjust the font size */
    color: #fff;
  }
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}

.carousel-track:hover {
    animation-play-state: paused;
}


